# General build artifacts
*.log
*.jou
*.str
*.zip
*.tar.gz

# Vivado/Quartus project junk
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/
*.xpr
*.xpr.*
*.dcp
*.bit
*.bin

# Quartus specific
db/
incremental_db/
output_files/
*.qpf
*.qsf

# Simulation
*.wlf
*.vcd
*.vvp

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.bak
