# Vivado project files to ignore

# Build / run artifacts
*.jou
*.log
*.str
*.zip
*.tar.gz

# Vivado generated directories
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/
*.srcs/sources_1/ip/*/
*.xpr
*.dcp
*.bit
*.bin
*.mmi

# Simulation outputs
*.wdb
*.wcfg
*.vcd
*.vvp
*.wlf

# Misc editor / OS files
.DS_Store
Thumbs.db
*.swp
*.bak

